<div class="loading row text-center d-none">
    <div class="col-sm-12 col-md-12">
        <span class="display-4 text-white font-weight-bold text-uppercase">
            <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
            <i class="fa fa-spinner fa-spin"></i>
            <!-- <i class="fa fa-refresh fa-spin"></i> -->
        </span>
    </div>
    <div class="col-sm-12 col-md-12 text-white font-weight-bold text-uppercase">
        <label class="loading-text">Carregando...</label>
    </div>
</div>