body
{
    height: 100vh;
}
.nav-tabs .nav-link:hover
{
    font-weight: bold;
    color: #4f4f4f;
    background-color: #ffffff00;
}

.nav-tabs .nav-link.active
{
    font-weight: bold;
    background-color: #ffffff00;
}

.nav-tabs .nav-link.active:hover
{
    font-weight: bold;
    color: #1266f1;
    background-color: #ffffff00;
}

.kind-steel-gradient {
    /* fallback for old browsers */
    background: #e9defa;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(233, 222, 250, 1), rgba(251, 252, 219, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(233, 222, 250, 1), rgba(251, 252, 219, 1))
}