<div class="content">
    <div class="languages">
        <div id="php" class="language" value="1" data-toggle="tooltip" data-placement="top" title="PHP" checked>
            <i class="fab fa-php"></i>
            <span>PHP</span>
        </div>
        <div id="java" class="language" value="2" data-toggle="tooltip" data-placement="top" title="Java">
            <i class="fab fa-java"></i>
            <span>Java</span>
        </div>
        <div id="android" class="language" value="3" data-toggle="tooltip" data-placement="top" title="Android">
            <i class="fab fa-android"></i>
            <span>Android</span>
        </div>
    </div>
</div>