<script type="module" src="javascripts/tabs/framework.js"></script>
<div class="content">
    <form id="frameworks-form">
        <div class="row">
            <div id="frameworks" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-striped text-body">
                    <tbody id="frameworks-body-table">
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="frameworks" value="1" id="bootstrap" checked />
                                    <label class="form-check-label" for="bootstrap">Bootstrap</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="frameworks" value="2" id="mdb" />
                                    <label class="form-check-label" for="mdb">Material Design for Bootstrap</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="frameworks" value="3" id="materialize" />
                                    <label class="form-check-label" for="materialize">Materialize</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>