<script type="module" src="javascripts/tabs/libs.js"></script>
<div class="content">
    <form id="libs-form">
        <div class="row">
            <div id="libs" class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                <table class="table table-striped text-body">
                    <thead>
                        <tr>
                            <th scope="col" class="h5" style="text-transform: uppercase">Bibliotecas</th>
                        </tr>
                    </thead>
                    <tbody id="libs-body-table" class="d-block" style="
                        overflow-x: auto;
                        overflow-y: scroll;
                        height: 33rem;
                    ">
                        <tr>
                            <td class="p-0" style="
                                background: transparent;
                                border: none;
                            ">
                                <div class="row">
                                    <div class="col-4" style="
                                        vertical-align: middle;
                                        line-height: 2;
                                    ">
                                        // Android
                                    </div>
                                    <div class="col-8">
                                        <hr/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="lifecycle" checked />
                                    <label class="form-check-label" for="lifecycle">
                                        Lifecycle
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="cardview" checked />
                                    <label class="form-check-label" for="cardview">
                                        Cardview
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="
                                border: none;
                            ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="recyclerview" checked />
                                    <label class="form-check-label" for="recyclerview">
                                        RecyclerView
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0" style="
                                background: transparent;
                                border: none;
                            ">
                                <div class="row">
                                    <div class="col-7" style="
                                        vertical-align: middle;
                                        line-height: 2;
                                    ">
                                        // Design System
                                    </div>
                                    <div class="col-5">
                                        <hr/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="uicomponents" checked />
                                    <label class="form-check-label" for="uicomponents">
                                        UIComponents
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="material-design-for-android" checked />
                                    <label class="form-check-label" for="material-design-for-android">
                                        Material Design for Android
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="
                                border: none;
                            ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="lottie" checked />
                                    <label class="form-check-label" for="lottie">
                                        Lottie
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0" style="
                                background: transparent;
                                border: none;
                            ">
                                <div class="row">
                                    <div class="col-7" style="
                                        vertical-align: middle;
                                        line-height: 2;
                                    ">
                                        // Google / Firebase
                                    </div>
                                    <div class="col-5">
                                        <hr/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="firebasecore" checked />
                                    <label class="form-check-label" for="firebasecore">
                                        FirebaseCore
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="firebasestorage" checked />
                                    <label class="form-check-label" for="firebasestorage">
                                        FirebaseStorage
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="firebasefirestore" checked />
                                    <label class="form-check-label" for="firebasefirestore">
                                        FirebaseFirestore
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="firebaseauth" checked />
                                    <label class="form-check-label" for="firebaseauth">
                                        FirebaseAuth
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="
                                border: none;
                            ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="firebasemessaging" checked />
                                    <label class="form-check-label" for="firebasemessaging">
                                        FirebaseMessaging
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0" style="
                                background: transparent;
                                border: none;
                            ">
                                <div class="row">
                                    <div class="col-6" style="
                                        vertical-align: middle;
                                        line-height: 2;
                                    ">
                                        // API Request
                                    </div>
                                    <div class="col-6">
                                        <hr/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="retrofit" checked />
                                    <label class="form-check-label" for="retrofit">
                                        Retrofit
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="
                                border: none;
                            ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="coroutines" checked />
                                    <label class="form-check-label" for="coroutines">
                                        Coroutines
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0" style="
                                background: transparent;
                                border: none;
                            ">
                                <div class="row">
                                    <div class="col-6" style="
                                        vertical-align: middle;
                                        line-height: 2;
                                    ">
                                        // External Libs
                                    </div>
                                    <div class="col-6">
                                        <hr/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="floatingsearchview" checked />
                                    <label class="form-check-label" for="floatingsearchview">
                                        FloatingSearchView
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="speeddial" checked />
                                    <label class="form-check-label" for="speeddial">
                                        SpeedDial
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="avatargenerator" checked />
                                    <label class="form-check-label" for="avatargenerator">
                                        AvatarGenerator
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 mt-5">
                <div id="libs-code-container">
                    <div class="form-outline">
                        <textarea class="form-control active" id="libs-code" rows="10"></textarea>
                        <label class="form-label" for="libs-code">Gradle</label>
                    </div>
                    <div class="form-outline mt-4">
                        <textarea class="form-control active" id="libs-versions-code" rows="10"></textarea>
                        <label class="form-label" for="libs-code">Gradle Versions</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>